*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:Arial, Helvetica, sans-serif;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("assets/bg-img1.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.header-bg{
    background:rgba(17,24,39,.9);
    box-shadow:0 8px 20px rgba(0,0,0,.3);
}

/* Left Form */

.form-card{
    min-height:550px;
    position:sticky;
    top:20px;
    background-color: rgb(233, 213, 243);
}

.form-card h3{
    font-weight:700;
}

.form-control{
    border-radius:10px;
}

textarea{
    resize:none;
}

.bgImg{
    width:90px;
    height:70px;
    object-fit:cover;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
    border:3px solid transparent;
}

.bgImg:hover{
    transform:scale(1.05);
}

.selectedImg{
    border-color:#251f27;
}

#posts{
    width:100%;
}

.blog-card{
    background:#fff;
    border:none;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.18);
    transition:.3s;
}

.blog-card:hover{
    transform:translateY(-5px);
}

.blog-image{
    height:190px;
    background-size:cover;
    background-position:center;
}

.blog-content{
    padding:18px;
}

.blog-content h5{
    font-size:22px;
    font-weight:700;
    margin-bottom:10px;
}

.blog-content p{
    color:#666;
    line-height:1.6;
    margin-bottom:20px;
}

.blog-btns{
    display:flex;
    justify-content:center;
    gap:10px;
    padding:0 18px 18px;
}

@media(max-width:991px){

    .form-card{
        position:static;
        min-height:auto;
    }

}

@media(max-width:768px){

    .header-bg{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .bgImg{
        width:75px;
        height:60px;
    }

}